# The AEminium runtime will first try to read the configuration file to which 
# the environment variable $AEMINIUMRT_CONFIG points to. If the variable is not 
# set it will continue to find the configuration file 'aeminiumrt.config'in the 
# current working directory. If no configuration file is found then then built-in
# default values are used.


#============================================================================
# global configurations
#============================================================================
global.implementation = default


#============================================================================
# WorkSteadling Runtime configuration
#============================================================================
ImplicitWorkStealingRuntime.enableGraphViz = true
ImplicitWorkStealingRuntime.graphVizName   = GraphVizOutput
ImplicitWorkStealingRuntime.ranksep        = 1
ImplicitWorkStealingRuntime.rankdir        = BT


#============================================================================
# implicit graph configuration
#============================================================================
ImplicitGraph.debug          = false
ImplicitGraph.checkForCycles = false
ImplicitGraph.pollingTimeout = 50


#============================================================================
# implicit task configuration
#============================================================================
ImplicitTask.debug = false


#============================================================================
# worker thread configuration
#============================================================================
WorkerThread.pollingCount = 10
 

#============================================================================
# blocking work stealing configuration configurations
#============================================================================
BlockingWorkStealingScheduler.maxQueueLength  = 0
BlockingWorkStealingScheduler.oneTaskPerLevel = true

