<!DOCTYPE html>
<html>
  <head>
    <title><%=  %></title>
    <script type="text/javascript" src="path/to/jquery.js"></script>
  <% js_files.each do |file| -%>
    <script type="text/javascript" src="<%= file %>"></script>
  <% end -%>
  </head>
  <body id="body">
  </body>
</html>