<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.plaid</string>
		</dict>
	</array>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>true</string>
		<string>false</string>
		<string>local</string>
		<string>unique</string>
		<string>if</string>
		<string>override</string>
		<string>ifElse</string>
		<string>shared</string>
		<string>while</string>
		<string>fn</string>
		<string>with</string>
		<string>void</string>
		<string>immutable</string>
		<string>default</string>
		<string>this</string>
		<string>package</string>
		<string>of</string>
		<string>match</string>
		<string>import</string>
		<string>state</string>
		<string>new</string>
		<string>case</string>
		<string>method</string>
		<string>val</string>
		<string>var</string>
		<string>group</string>
		<string>unpackInnerGroups</string>
		<string>split</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>Plad</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Plaid</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>Language Features</key>
	<dict>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Terminator for Prototypes 1</key>
		<string>;</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Identifier and Keyword Character Class</key>
		<string>[:alnum:]_\.\-</string>
	</dict>
	<key>com.barebones.DocumentType</key>
	<string>CodelessLanguageModule</string>
</dict>
</plist>
